@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

*   /*Police*/
{
	font-family: "Raleway" , sans-serif;
}
body
{
   font-size: 15px;
}

.header 
{
    display: flex;
    background: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 15px;
    max-width: 1440px;
    margin: auto;
}

a
{
    text-decoration: none;
    color: black;
}

.header-nav a
{   
    padding: 0 20px;
    color: inherit;
    text-decoration: none;
    padding: 2rem;
}

.header-nav a:hover
{
    border-top: 5px solid #0065FC;
    color: #0065FC;
    padding: 2rem;
}

.header-nav a:last-child
{
    font-weight: bold;
    color: #0065FC;
}

main
{
    padding: 5px;
    max-width: 1440px;
    margin: auto;
}

.TitleSearchBar
{
    color: black;
    font-size: 32px;
    font-weight: bold;
}

.SousTitleSearchBar
{
    margin-top: -20px;
}

.searchForm {
    display: inline-flex;
    max-width: 100%;
    align-items: center;
}

.searchBarIcon
{
    color: black;
    background-color: #f2f2f2;
    padding: 16px 20px;
    border-radius: 1rem 0 0 1rem;
    height: 1em;
    width: 1em;
    display: flex;
    text-align: center;
    justify-content: center;

}

.searchFormInput
{
    padding: 1rem;
    border-left: none;
    border-right: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Raleway";
}

.buttonSearch
{
    color: white;
    background-color: #0065FC;
    font-size: 15px;
    padding: 16px;
    border-radius: 0 1rem 1rem 0;
    border: 1px solid #0065FC; 
}

.FilterTotal
{
    display: flex;
}

.FilterTitle
{
    margin: 1em 1em;
}

.Filter
{
    display: inline-flex;
    flex-wrap: wrap;
    transition: all 0.2s linear;
    align-items: center;
}

.Icone
{
    border: 2px solid lightgray;
    border-radius: 2rem 2rem 2rem 2rem;
    margin: 0.5rem 1rem;
    cursor: pointer;
    

}

.Icone:hover
{
    transform: scale(1.05);
    transition: all 0.2s linear;
}

.Icon
{
    height: 3em;
    width: 3em;
    border: 0px solid black;
    border-radius: 100%;
    color: #0065FC;
    background-color: #DEEBFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: -3px;
}



.filters
{
    font-weight: bold;
    padding-right: 1em;
    padding-left: 1em;
}


.rechercheicon
{
    color: #0065FC;
    border: 1px solid lightgray;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.information
{
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    align-items: center;
}

.MainPage
{
    width: 100%;
    display:flex;
    justify-content: space-between;

}

.cardMain
{
    border-radius: 1em;
    background-color: #f2f2f2;
    height: auto;
    width: 64%;
    margin-bottom: 30px;
}

.hostingPopular
{
    border: 1px solid red;
    background-color: lightgray;
    border-radius: 1em;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: 33%;

}

.hebergement
{
    margin: 5px 5px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0 15px;
}

figure
{
    margin: 0;
}

.hostingcardFigureImg > img
{
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}


.hosting
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hostingcardMain
{
    background-color: white;
    border-radius: 1em;
    width: 26%;
    height: auto;
    padding: 5px;
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
}

.hostingcardMain:hover
{
    transform: scale(1.025);
    transition: all 0.2s linear;
}

article figcaption
{
    font-weight: bold;
    font-size: 18px;
    padding-left: 2%;
} 

.descriptionHostingCard
{
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    line-height: 0.2rem;
    margin: 0;
}

.descriptionCardPrice
{
    margin: 10px 0;    
}

.hostingcardGradeIcon [data-active="true"]
{
    color: #0065FC;
}

.hostingcardGradeIcon [data-active="false"]
{
    color: #f2f2f2;
}

.footerCardMain
{
    font-weight: bold;
    padding-left: 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

/* Les plus populaires */

.Popular
{
    padding-left: 3%;
    font-weight: bold;
}

.cardPopular
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hostingcardPopular
{
    background-color: white;
    border-radius: 1em;
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 10px 15px;

}

.hostingcardPopular:hover
{
    transform: scale(1.025);
    transition: all 0.2s linear;
}

.PopularImage
{
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.hostingcardPopular a
{
    display: flex;
}

.PopularImag
{
    width: 50%;
}

.descriptionCardPopular
{
    width: 50%;
    padding-left: 10px;
    padding-top: 10px;
    line-height: 1rem;
}

.descriptionTitle
{
    font-weight: bold;
    font-size: 18px;
}

.element-activite {
    display: flex;
    flex-wrap: wrap;
}

.element-activite article {
    flex: 0 0 25%; 
}

.element-activite article img {
    width: 200px;
}

footer
{
    display: flex;
    justify-content: space-around;
    background: #f2f2f2;   
    padding: 10px 20px;
}

footer .Blocfooter {
    width: 30%;
    padding: 2rem 2rem;
    border: 1px solid black;
}

footer a
{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;

}

footer a:hover 
{
    text-decoration: underline;
}

.BlocFooterLien
{

}