@font-face {
	font-family: 'Raleway';
	src: url('Raleway/static/Raleway-Regular.ttf') format('truetype');
}

*   /*Police*/
{
	font-family: Raleway;
}

.colorgray
{
	background-color: #F2F2F2;
}


#bloc-page /*Bloc main*/
{
	width: 1440px;
	margin: auto;

}

header /*Header*/
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 88px;
	 
}

nav ul
{
	list-style-type: none;
	display: flex;
}

nav li
{
	height: 15px;
	width: 150px;
	
}

nav a
{
	font-size: 1em;
	color: #0065FC;
	text-decoration: none;
}

a:hover
{
	border-top: 4px #0065FC solid;
	padding-top: 40px;
}

#headerimage
{
	justify-content: flex-start;
}

.searchForm
{
	display: inline-flex;
	max-width: 100%;
	overflow: auto;
}


.searchBarIcon
{
	height: 3em;
	width: 3em;
	min-height: 3em;
	min-width: 3em;
	border: solid 1px #d9d9d9;
	border-radius: 25%;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: #F2F2F2;
}

.searchFormInput
{
	border-right: none;
	border-left: none;
	border-top: #0065FC 1px solid;
	border-bottom: #0065FC 1px solid;
	padding: 0 2em;
	padding-top: 2em;
	width: 14rem;
	font-size: 1rem;
	font-weight: bold;
	font-family: "Raleway";
}

.searchFormButton
{
	background-color: #0065FC;
	color: #F2F2F2;
	font-weight: bold;
	border: none;
	border-radius: 0 1rem 1rem 0;
	padding: 1rem 1rem 1rem 1rem;
	font-size: 1rem;
	cursor: pointer;
}

.icon
{
	height: 3em;
	width: 3em;
	min-height: 3em;
	min-width: 3em;
	border: solid 1px #d9d9d9;
	border-radius: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	margin-right: 1rem;
	align-items: center;
	color: #0065FC;
}

.rechercheicon
{
	height: 2rem;
	width: 2rem;
	min-height: 2rem;
	min-width: 2rem;
	border: solid 1px #d9d9d9;
	border-radius: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	margin-right: 1rem;
	align-items: center;
	color: #0065FC;
	float: left;
}

.information
{
	display: flex;
	align-items: center;
	margin: 1rem 0 2rem 0; 
}

footer
{
	background-color: #F2F2F2;
}
