@font-face {
	font-family: 'Raleway';
	src: url('Raleway/static/Raleway-Regular.ttf') format('truetype');
}

*
{
	font-family: Raleway;
}

.colorgray
{
	background-color: #F2F2F2;
}

h2
{
	background-color: #F2F2F2;
}

#conteneur
{
	display: flex;
	justify-content: flex-end;
	margin-right: 10%;
}

.headernavi
{
	margin:40px; 
}

#headerimage
{
	margin: 25px;
	
}