@font-face {
	font-family: 'Raleway';
	src: url('Raleway/static/Raleway-Regular.ttf') format('truetype');
}

*
{
	font-family: Raleway;
}

h2 
{
	background-color: #F2F2F2;

}

.souspartie 
{
	float: right;
}
